<em>Discover adventure, one escape at a time.</em>
        <nav>
            <a href="https://webpages.charlotte.edu/isheikh/">Charlotte.edu</a>
            ||
            <a href="https://github.com/ibadsheikh1/ibadsheikh1.github.io">github</a>
            ||
            <a href="https://ibadsheikh1.github.io/">Github.io</a>
            ||
            <a href="https://www.freecodecamp.org/IbadSheikh">freecodecamp</a>
            ||
            <a href="https://www.freecodecamp.org/IbadSheikh">CodeAcademy</a>
            ||
            <a href="https://www.linkedin.com/in/ibadsheikh/">LinkedIn</a>
        </nav>
        <p>Page buily by <a href="sheikhenterprises.net/index.html"> Sheikh Enterprises </a>&copy; 2024</p>
