<em>Discover adventure, one escape at a time.</em>
        <nav>
            <a href="https://webpages.charlotte.edu/isheikh/">Charlotte.edu</a>
            ||
            <a href="https://github.com/ibadsheikh1/ibadsheikh1.github.io">github</a>
            ||
            <a href="https://ibadsheikh1.github.io/">Github.io</a>
            ||
            <a href="https://www.freecodecamp.org/IbadSheikh">freecodecamp</a>
            ||
            <a href="https://www.freecodecamp.org/IbadSheikh">CodeAcademy</a>
            ||
            <a href="https://www.linkedin.com/in/ibadsheikh/">LinkedIn</a>
        </nav>
        <p>Page buily by <a href="sheikhenterprises.net/index.html"> Sheikh Enterprises </a>&copy; 2024</p>
        <div>
            <a id="validation-link-html">
                <img src="images/validation_html.gif" alt="Validate HTML">
            </a>
            <a id="validation-link-css">
                <img src="images/validation_css.gif" alt="Validate CSS">
            </a>
            
        </div>
        <script>
            document.getElementById("validation-link-html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
            document.getElementById("validation-link-css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        </script>